@charset "UTF-8";

*{margin:0; padding: 0;}
a{text-decoration: none;   /* a태그가 본래 가지고 있는 파란색 밑줄을 없앰 */
  color: #fff;}
li{list-style: none;}
.container{
    width: 1500px;
    margin: 0 auto;       /* 항상 가운데에 올 수 있게 */
}

body{
    width: 100%; height: 100vh;
    background: rgba(0, 0, 0, 0.8) url(img/nike_backgroundimage.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: hue;
}

.wrap{width: 100%; height: 100vh;}


/* header */
header{
    padding-top: 10px;
    height: 100px; width: 100%;
    box-sizing: border-box; /* 높이 100 안에 패딩탑 10 넣기 */
    border-bottom: 1px solid #ddd;
}
header .container{
    display: flex;  /* 자식을 옆으로 정렬 */
    justify-content: space-between;   /* 양옆으로 넓이 동일하게 적용 */
    align-items: center;   /* 위아래 가운데 정렬 */
}
header .container .logo{width: 150px;}
header .container .logo a{}
header .container .logo a img{width: 100%;}  /* 부모이자 블록요소인 logo의 넓이에 맞춤 */

header .container .menu_wrap{}
header .container .menu_wrap ul{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
header .container .menu_wrap ul li{}
header .container .menu_wrap ul li a{
    font-size: 16px;
    font-weight: bold;
}

header .container .search{}
header .container .search i{font-size: 18px;}


/* main_01 */
.main_01{margin-top: 5%;}       /* 맨위의 header를 제외한 이미지와 글자를 아래로 내림.  */
.main_01 .slider{}
.main_01 .slider .slick-slide{
    display: flex;
    overflow: hidden;     /* --> .left_area .vespa_img에 움직이는 효과를 주기 위해 넘치는 걸 숨긴다*/
}

.left_area{
    position: relative;
    width: 50%;}
.left_area .vespa_img{
    width: 120%;
    padding-top: 160px;   
}
/* slick을 여러 개 넣을 때는 부르는 대상을 정확하게 호출하는 게 중요! */
.main_01 .slider .slick-active .left_area .nike_img{
    animation: fadeInR 0.5s 0.6s both;    /* both는 새로고침 시, 동작을 마친 자리에서 다시 처음 지점으로 갈 때, 튕기듯 나가는 것을 막아줌. */
    /* animation은 밑에 적힌 keyframes의 animation과 같아야 함 */
}

.left_area .nike_img img{width: 100%;}
.left_area .nike_tit{
    position: absolute;
    left: 0; top: 40px;
    z-index: -1;
}
.left_area .nike_tit h2{
    font-size: 135px;
    color: rgba(255, 255, 255, 0.8);}
.main_01 .slider .slick-active .left_area .nike_tit h2{
    animation: fadeInL 0.5s 0.5s both;
}
.left_area .nike_tit p{
    font-size: 19px;
    color: #fff;
    letter-spacing: 19px;  /* 자간 */
}
.main_01 .slider .slick-active .left_area .nike_tit p{
    animation: fadeInL 0.5s 0.5s both;
}


.right_area{
    position: relative;
    color: #fff;}

.right_area .top_name h2{}
.right_area .top_name p{}
.right_area .top_name .icon{}
.main_01 .slider .slick-active .right_area .top_name{
    animation: fadeInL 0.5s 1s both;
}


.right_area .middle_txt{
    position: absolute;
    top: 40%; left: 10%;
    width: 70%;
}
.main_01 .slider .slick-active .right_area .middle_txt{
    animation: fadeInR 0.5s 1.1s both;
}
.right_area .middle_txt p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 300px;
}
.right_area .middle_txt .feature{
    width: 300px;
}


.right_area .bottom_btn{
    position: absolute;
    top: 70%; left: 10%;
    display: flex;

}
.right_area .bottom_btn .size_btn{
    position: relative;
    background-color: yellow;
    margin-right: 20px;
}
.right_area .bottom_btn .size_btn a{
    display: block;    /* 블록요소로 바꿔서 높이에 변화를 줌. */
    padding: 10px 20px;
    font-weight: 600;
    width: 160px;
    text-align: center;
}
.right_area .bottom_btn .size_btn i{
    position: absolute;
    right: 22px; top: 12px;
    font-size: 20px; color: #fff;
}
.right_area .bottom_btn .cart_btn{
    border: 2px solid #fff;
    margin-right: 30px;
}
.right_area .bottom_btn .cart_btn a{
    display: block;
    padding: 10px 50px 10px 30px;
    width: 150px;
    text-align: center;
}
.right_area .bottom_btn .price{}
.right_area .bottom_btn .price p{
    display: block;
    color: #fff;
    font-size: 24px; line-height: 40px;
    font-weight: bold;
    width: 160px;
    text-align: center;}
.main_01 .slider .slick-active .right_area .bottom_btn .size_btn{
    animation: fadeInL 0.5s 1.3s both;
}
.main_01 .slider .slick-active .right_area .bottom_btn .cart_btn{
    animation: fadeInB 0.5s 1.5s both;
}
.main_01 .slider .slick-active .right_area .bottom_btn .price{
    animation: fadeInR 0.5s 1.4s both;
}






/* slick버튼 */
.main_01 .slider .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    font-size: 0;    /* --> 삽입한 화살표가 좀 더 옆으로 떨어짐 */
}
.main_01 .slider .slick-prev{left: -2%}
.main_01 .slider .slick-prev:after{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    color: #38a385;
    font-size: 48px;
}
.main_01 .slider .slick-next{right: -2%;}  /* 위에 left: 50%이 있으므로 그것을 풀어주기 위해 아래에 left: auto를 작성. 아니면 둘 다 지운다. */
.main_01 .slider .slick-next:after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    color: #38a385;
    font-size: 48px;
}


@keyframes fadeInR{   /* R --> L */
    0%{transform: translateX(150%); opacity: 0;} /* animation 실행 전엔 안 보이다가 실행하면 보임. */
    100%{transform: translateX(0%); opacity: 1;}
}

@keyframes fadeInL{   /* L --> R */
    0%{transform: translateX(-150%); opacity: 0;} 
    100%{transform: translateX(0%); opacity: 1;}
}

@keyframes fadeInT{   /* T --> B */
    0%{transform: translateY(-150%); opacity: 0;} 
    100%{transform: translateY(0%); opacity: 1;}
}

@keyframes fadeInB{
    0%{transform: translateY(150%); opacity: 0;} 
    100%{transform: translateY(0%); opacity: 1;}
}

